

html,body{height:100%;
}
h1{
    font-size: 30px;
    text-align: center;
    color:white;
}
#play-btn{
    position:relative ;
    top:100px;
    left:220px;
}
#box-parent{
    height: 500px;
    display:flex;
    justify-content: center;
    align-items:center;
}
body{
    background-color:red;                     /*used flex on the body to center #box since the body is the parent of #box*/
    /*display:flex;
    justify-content: center;
    align-items:center;*/
}
#box{
    background-color: white;
    width: 500px;
    height: 200px;
    border-right: 0%;
    border: 1px solid black; 
    
}

#doughnut{
    width:20px;
    height: 20px;
    background-color:pink;
    position:relative;                 /*  nothing changes with relative on it's own. Allows to change position relative to its normal document flow position; top,left,right and bottom.*/
    top:180px;                         /* Pushes doughnut div to the bottom of the parent box div.-Box div is 200px height. #doughnut is 20 px height. 200-20=180. So addes 180px above. */
    left:30px;                         /*adds space to the left, inturn moving the #doughnut to the right.*/
}
.animate{
    animation: jump 1s ;                /* add jump animation to #doughnut every 1s*/
      }                        
      
  @keyframes jump{                      /* jump animation for #doughnut. */
    0%{top:180px}                     /* begins with 180 px above */
   30%{top:80px}                    /* 1/3 of the way there is 100px above*/
    70%{top:100px}                   /* 70* ther is still 100px above*/
    100%{top:180px}                   /* Ending back at 180px above*/
  }                   

#mouth{
    width:20px;
    height:40px;
    background-color:black;
    position:relative;
    top: 140px;                         /* Pushes mouth div to bottom of parent box div. - mouth div starts with a 20px space from the top because of the doughnut div prior to being re-positioned./* 180px from top of mouth div to bottom of box div.Mouth div is 50 px so 180-50=130 */                           
    left:480px;                         /*Pushes character all the way to the right of the parent div.- Box div is 500 px wide mouth is 20 px wide. 500-20=480 */  
    animation:mouth 1s infinite linear;        /*add animation to mouth- every 1s infinitely .*/                                       
    
}
 
@keyframes mouth{
0%{left:480px;}                          /* .Beginning with 480px to the left ie. the spot we but it in above at #mouth css */
100%{left:0px;}                           /* Ends with 0px to the left- so that it is all the way to left side of the div at the end of the animation.*/
}

#jump-btn{
background-color:white;
position:relative;
top:-100px;
left: 300px;
color:black;
}

#go-btn-player-1{
    background-color: green;
    position: relative;
    top: 497px;
    left: 200px;
}

#dough-eaten{
    display: none;
    max-width: 20%;
    max-height: 20%;
}